nav {
	background-color: #37474f;
}

footer.page-footer {
	background-color: #37474f;
}


/*span.pagebanner {
	font-size: 1.4rem;
    padding-bottom: 50px;
}

span.pagebanner.a {
	font-size: 1.4rem;
    padding-bottom: 50px;

span.pagelinks {
	font-size: 1.4rem;
    padding-bottom: 50px;
}

span.pagelinks.a {
	font-size: 1.4rem;
    padding-bottom: 50px;
}*/

div.exportlinks {
		padding-top: 20px;
		font-size: 1.5rem;
}